/* nav */
.logo {
  width: 2em;
  fill: white;
}

.nav-brand__name-area {
  margin-left: 12px;
  font-size: 85%;
  overflow: hidden;
}

.nav-brand__name-area span {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    padding-left: 0.5rem;
  }

  .nav-brand__name-area {
    display: none;
  }
}

.navbar-menu.navbar-end {
  flex: 1 1 auto;
}

.navbar-item.search-box {
  flex: 0 0 auto;
  padding: 0.8rem 1rem;
  padding-right: 0;
}

.navbar-item.search-box input {
  height: 2rem;
  padding: 0 12px;
  border: none;
  border-radius: 4px;
}

.icon-github-2x {
  background-image: url(../img/git_16.svg);
  height: 1.75em;
  width: 1.75em;
  background-size: contain;
  background-repeat: no-repeat;
}

/* article content */
.body {
  max-width: 1400px;
  margin: 0 auto;
}

.article .toolbar {
  background: white;
}
