<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="swagger">
{{> header}}
<redoc
  spec-url="{{page.attributes.openapi-url}}"
  scroll-y-offset="63"
></redoc>
<script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>

{{> footer}}
  </body>
</html>
