<script src="{{{uiRootPath}}}/js/site.js"></script>
{{#if (eq env.DOCSEARCH_ENGINE 'lunr')}}
<script src="{{uiRootPath}}/js/vendor/lunr.js"></script>
<script src="{{uiRootPath}}/js/vendor/search.js" id="search-script" data-base-path="{{or siteRootPath (or site.url siteRootUrl)}}" data-page-path="{{@root.page.url}}"></script>
<script async src="{{uiRootPath}}/../search-index.js"></script>
{{/if}}
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
